#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.pokedex-container{
  border: #333 4px solid;
  border-radius: 15px;    /* Bordes redondeados */
  margin: 20px auto;      /* Centrar el cuadro en la pantalla */
  padding: 10px;


}
.pokedata-frame {
  width: 250px;           /* Ancho fijo */
  height: 250px;          /* Alto igual al ancho para hacerlo cuadrado */
  border: 4px solid #333; /* Grosor y color del marco */
  border-radius: 15px;    /* Bordes redondeados */
  background-color: white;/* Fondo para que resalte el Pokémon */
  margin: 20px auto;      /* Centrar el cuadro en la pantalla */
  
  /* Centrado del contenido (Spinner o Imagen) */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Sombra para darle profundidad */
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  overflow: hidden;       /* Por si la imagen es muy grande, que no se salga */
}

/* Estilo para la imagen dentro del cuadro */
.poke-img {
  max-width: 90%;        /* Que no toque los bordes del cuadro */
  max-height: 90%;
  object-fit: contain;    /* Mantiene la proporción sin deformarse */
}

.card {
  padding: 2em;
  
}

.read-the-docs {
  color: #888;
}
